/* this is the universal selector it is select everything in the document "*" */
/* * {
    background-color: cyan;
} */

body {
    background-color: #edede9;
}


/* this is element selector it is select every element that in same type*/
button {
    font-size: 30px;
    background-color: #778da9;
}

/* it makes al h1,h2 */
h1,
h2 {
    color: #264653;
}

#signup {
    background-color: #1b263b;
    color: #fefae0;
}

span {
    color: #4579bd;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #4579bd;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: green;
}

input[type="password"] {
    color: greenyellow
}

section[class="post"] {
    background-color: #edede9;
}

a[href*="google"] {
    color: magenta;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}

button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

button {
    background-color: #fcbf49 !important;
}